button.backgroundColorBlock {
	width: 2.5vw;
	height: 2.5vw;
	display: inline-block;
	margin-left: 1em;
	margin-right: 0.5em;
	margin-bottom: 1em;
	outline: none;
	border: none;
}

button.textColorBlock {
	width: 2.5vw;
  	height: 2.5vw;
	display: inline-block;
	margin-left: 1em;
	margin-right: 0.5em;
	margin-bottom: 1em;
	outline: none;
	border: none;
}

#Black {
	background-color: #000000;
}

#Gray {
	background-color: #212121;
}

#Semolina {
	background-color: #a87574;
}

#White {
	background-color: #ededed;
}

#Maroon {
 	background-color: #7c0303;
}

#Khaki {
	background-color: #774d09;
}

#Green {
	background-color: #0e5116;
}

#Sea {
	background-color: #0a7568;
}

#Blue {
	background-color: #0f2a6d;
}

#Purple {
	background-color: #590b3f;
}

#Bungee {
	font-family: 'Bungee Inline', cursive;
}

#Montserrat {
	font-family: 'Montserrat', sans-serif;
}

#Indie {
	font-family: 'Indie Flower', cursive;
}

#Bahiana {
	font-family: 'Bahiana', cursive;
}

#Pacifico {
	font-family: 'Pacifico', cursive;
}

#ShadowYes {
	text-shadow: 15px 15px 15px #000000;
}

#ShadowYes:hover {
	color: #02a800;
}

#ShadowNo {
	text-shadow: 0px 0px 0px #000000;
}

#ShadowNo:hover {
	color: #a80000;
}

.clock {
	font-family: 'Bahiana', cursive;
	color: #ededed;
	text-align: center;
	position: static;
	font-size: 17vw;
	text-shadow: 15px 15px 15px #000000;
}

.date {
	font-family: 'Bungee Inline', cursive;
	color: #ededed;
	text-align: center;
	position: relative;
	font-size: 2vw;
}

body {
	background: #212121;
}

.heading {
	font-family: 'Bungee Inline', cursive;
	color: #9e0000;
	font-size: 2.5vw;
	margin-left: 0.25em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.author {
    font-family: 'Bungee Inline', cursive;
    position: relative;
  	color: #9e0000;
  	font-size: 1vw;
}

.heading:hover {
	color: #fff;
}

.author:hover {
	color: #fff;
}

.btn-default {
	color: #fff;
	font-size: 2em;
	border: none;
	outline: none;
	background-color: Transparent;
	margin-left: 0.5em;
}

.btn-shadow {
	color: #fff;
	font-size: 2em;
	border: none;
	outline: none;
	background-color: Transparent;
	margin-left: 0.5em;
}

button.glyphicon.glyphicon-menu-hamburger {
    color: #ededed;
    position: absolute;
    margin-left: 0.5em;
    margin-top: 0.5em;
    font-size: 3vw;
	background-color: Transparent;
	border: none;
	outline: none;
}

button.glyphicon.glyphicon-menu-hamburger:hover {
	color: #fff;
}

.sidenav {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 2.5em;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    font-family: 'Bahiana', cursive;
    text-decoration: none;
    font-size: 2.5em;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0.5em;
    font-size: 2.5em;
    margin-left: 1em;
}