.fullscreenDiv #changecolor {
    background-color: #e8e8e8;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    text-align: center;
    position: absolute;
}

#clock {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Nova Mono', monospace;
    color: black;
}

#dateAndDay {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 500%;
    font-family: 'Lato', monospace;
    color: #434447;
}


#sss {
    padding:20px;
    background:#eee;
    font-size:12px
}
