body {
    width: auto;
    background-image: url('Backgrounds/102511.jpg');
    background-size: cover;
}

#clock-display {
    font-size: 100px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


